In [1]:
import numpy as np
import pandas as pd
# Import SQL Alchemy
from sqlalchemy import create_engine
# Get the username and password from config file
#from config import username, password
import requests
import os
import geopandas as gpd
import seaborn as sns
from shapely.geometry import Point, Polygon

sns.set(style="darkgrid")
# Import API key
#from config import yelp_api_key

C:\Users\gupta\anaconda3\lib\site-packages\geopandas\_compat.py:84: UserWarning: The Shapely GEOS version (3.4.3-CAPI-1.8.3 r4285) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  warnings.warn(

## Extract

### Extract Income data

In [2]:
income_df = pd.read_excel('Resources/neighbourhood-income-data-2011.xlsx')
income_df.head()

,Category,Topic,Attribute,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,Population,Population,"Population, 2011",2615060.0,30279.0,21988.0,11904.0,29177.0,26918.0,15434.0,...,15004.0,21343.0,53350.0,11703.0,7826.0,13986.0,10578.0,11652.0,27713.0,14687.0
1,Population,Population,"Population, 2006",2503281.0,30156.0,21562.0,11656.0,27482.0,25439.0,14945.0,...,12517.0,20907.0,52461.0,11550.0,8051.0,14194.0,10497.0,11235.0,26140.0,14830.0
2,Population,Population,"Population percentage change, 2006 to 2011",4.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Population,Population,Population density per square kilometre,4149.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population,Dwellings,Total private dwellings,1107851.0,9341.0,7861.0,4840.0,17172.0,12118.0,6320.0,...,6931.0,8336.0,19181.0,5391.0,3645.0,6002.0,5550.0,7128.0,11722.0,5444.0

### Transform Income Data

In [3]:
# Put filters on Category and Topic to get Average and Median Income per household

income_df = income_df.loc[(income_df["Category"] == 'Income') & (income_df["Topic"]  == 'Income of households')
& ((income_df["Attribute"] == 'Median household total income $')|(income_df["Attribute"]  == 'Average household total income $'))]
income_df.head()

,Category,Topic,Attribute,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
755,Income,Income of households,Median household total income $,58381.0,60162.0,59013.0,71585.0,57825.0,70039.0,56563.0,...,60537.0,63701.0,52018.0,72937.0,65259.0,55941.0,72977.0,71728.0,45534.0,54093.0
756,Income,Income of households,Average household total income $,87038.0,73512.0,73156.0,85206.0,114333.0,115944.0,76823.0,...,82203.0,81035.0,63651.0,88615.0,75872.0,84199.0,126230.0,153993.0,55531.0,72429.0

In [4]:
# Did transpose of all cities columns to 1 single column

transposed_df = income_df.loc[:,'Agincourt North':'Yorkdale-Glen Park']
income_data = transposed_df.transpose().reset_index()
income_data.columns = ["neighbourhood_name","median_income","average_income"]
income_data['neighbourhood_name'] = income_data['neighbourhood_name'].str.replace(' \(.+\)', '')
income_data

               neighbourhood_name  median_income  average_income
0                 Agincourt North        60162.0         73512.0
1    Agincourt South-Malvern West        59013.0         73156.0
2                       Alderwood        71585.0         85206.0
3                           Annex        57825.0        114333.0
4               Banbury-Don Mills        70039.0        115944.0
..                            ...            ...             ...
135                      Wychwood        55941.0         84199.0
136                Yonge-Eglinton        72977.0        126230.0
137                Yonge-St.Clair        71728.0        153993.0
138       York University Heights        45534.0         55531.0
139            Yorkdale-Glen Park        54093.0         72429.0

[140 rows x 3 columns]

### Extract Neighbourhoods Data

In [5]:
# Read Neighborhoods data to merge with Income data
neighbourhood = pd.read_csv('Resources/Neighbourhoods.csv')

# To merge the DataFrames, rename the Area Name as neighbourhood_name and Area Short Code as neighbourhood_id

# neighbourhood_name
neighbourhood['neighbourhood_name'] = neighbourhood['AREA_NAME'].str.replace(' \(.+\)', '')

# Rename column name
neighbourhood = neighbourhood.rename(columns={'AREA_SHORT_CODE':'neighbourhood_id'})

# Remove unwanted columns
neighbourhood = neighbourhood[["neighbourhood_id", "neighbourhood_name"]]
neighbourhood

     neighbourhood_id             neighbourhood_name
0                  94                       Wychwood
1                 100                 Yonge-Eglinton
2                  97                 Yonge-St.Clair
3                  27        York University Heights
4                  31             Yorkdale-Glen Park
..                ...                            ...
135               124                   Kennedy Park
136                78           Kensington-Chinatown
137                 6  Kingsview Village-The Westway
138                15                 Kingsway South
139               117                     L'Amoreaux

[140 rows x 2 columns]

In [6]:
# Merge Income and Neighbourhoods data in order to add neighbourhood_id in Income table
income_neighbourhood = pd.merge(income_data, neighbourhood, on='neighbourhood_name', how = "inner")
income_transformed = income_neighbourhood[['neighbourhood_id', 'neighbourhood_name', 'median_income', 'average_income']]
income_transformed = income_transformed.set_index('neighbourhood_id')
income_transformed = income_transformed.sort_index()

### Final Transformed Table - Income

In [7]:
income_transformed

,neighbourhood_name,median_income,average_income
neighbourhood_id,,,
1,West Humber-Clairville,66241.0,76228.0
2,Mount Olive-Silverstone-Jamestown,49934.0,58605.0
3,Thistletown-Beaumond Heights,62042.0,73512.0
4,Rexdale-Kipling,56545.0,66781.0
5,Elms-Old Rexdale,50846.0,63201.0
...,...,...,...
136,West Hill,49713.0,63461.0
137,Woburn,52018.0,63651.0
138,Eglinton East,46495.0,58035.0
139,Scarborough Village,42131.0,62141.0
140,Guildwood,76055.0,96885.0

### Final Transformed Table - Neighbourhood

In [8]:
# Set index as neighbourhood_id
neighbourhood_df = neighbourhood[["neighbourhood_id", "neighbourhood_name"]]
neighbourhood_transformed = neighbourhood_df.set_index('neighbourhood_id')
neighbourhood_transformed = neighbourhood_transformed.sort_index()
neighbourhood_transformed

                                 neighbourhood_name
neighbourhood_id
1                            West Humber-Clairville
2                 Mount Olive-Silverstone-Jamestown
3                      Thistletown-Beaumond Heights
4                                   Rexdale-Kipling
5                                  Elms-Old Rexdale
...                                             ...
136                                       West Hill
137                                          Woburn
138                                   Eglinton East
139                             Scarborough Village
140                                       Guildwood

[140 rows x 1 columns]

### Extract Crime Data

In [9]:
crime_csv = "Resources/Neighbourhood_Crime_Rates.csv"
crime_df = pd.read_csv(crime_csv)
crime_df.head()

,_id,OBJECTID,Neighbourhood,Hood_ID,Population,Assault_2014,Assault_2015,Assault_2016,Assault_2017,Assault_2018,...,TheftOver_2016,TheftOver_2017,TheftOver_2018,TheftOver_2019,TheftOver_AVG,TheftOver_CHG,TheftOver_Rate_2019,Shape__Area,Shape__Length,geometry
0,1,16,South Parkdale,85,21849,202,226,231,229,220,...,9,10,9,22,10.0,1.44,100.7,2.286974e+06,10802.83216,"{u'type': u'Polygon', u'coordinates': (((-79.4..."
1,2,17,South Riverdale,70,27876,215,207,236,243,304,...,22,27,24,21,21.3,-0.13,75.3,1.096457e+07,43080.72470,"{u'type': u'Polygon', u'coordinates': (((-79.3..."
2,3,18,St.Andrew-Windfields,40,17812,53,41,48,45,55,...,8,7,6,6,8.5,0.00,33.7,7.299580e+06,13025.99746,"{u'type': u'Polygon', u'coordinates': (((-79.3..."
3,4,19,Taylor-Massey,61,15683,127,92,97,107,123,...,5,2,4,3,3.5,-0.25,19.1,1.062970e+06,5940.70005,"{u'type': u'Polygon', u'coordinates': (((-79.2..."
4,5,20,Humber Summit,21,12416,76,89,118,116,109,...,18,18,15,22,17.3,0.47,177.2,7.966905e+06,12608.57312,"{u'type': u'Polygon', u'coordinates': (((-79.5..."

### Transform Crime Data

In [10]:
# Remove unwanted columns
crime_df = crime_df.loc[:,["Neighbourhood", "Hood_ID", "Assault_Rate_2019", "AutoTheft_Rate_2019", "BreakandEnter_Rate_2019", "Homicide_Rate_2019", "Robbery_Rate_2019", "TheftOver_Rate_2019"]]

# Calculate total averate crime rates and create a new column for the values
# Crime Rates: Rate of crimes for 2019 per 100,000 population 
crime_df["total_average_crime_rate"] = round((crime_df["Assault_Rate_2019"] + crime_df["AutoTheft_Rate_2019"] + crime_df["BreakandEnter_Rate_2019"] +
                                       crime_df["Homicide_Rate_2019"] + crime_df["Robbery_Rate_2019"] + crime_df["TheftOver_Rate_2019"]) / 6, 2)

# Remove unwanted columns
crime = crime_df.loc[:,["Neighbourhood", "Hood_ID", "total_average_crime_rate"]]


# Rename the columns names
crime = crime.rename(columns={"Hood_ID" : "neighbourhood_id",
                              "Neighbourhood" : "neighbourhood_name"
                             })

# Set index as neighbourhood_id
crime = crime.set_index('neighbourhood_id')
crime_transformed = crime.sort_index()

### Final Transformed Crime Table

In [11]:
crime_transformed

                                 neighbourhood_name  total_average_crime_rate
neighbourhood_id
1                            West Humber-Clairville                    507.32
2                 Mount Olive-Silverstone-Jamestown                    232.13
3                      Thistletown-Beaumond Heights                    236.50
4                                   Rexdale-Kipling                    245.35
5                                  Elms-Old Rexdale                    216.80
...                                             ...                       ...
136                                       West Hill                    383.95
137                                          Woburn                    206.32
138                                   Eglinton East                    231.97
139                             Scarborough Village                    262.10
140                                       Guildwood                     84.03

[140 rows x 2 columns]

### Extract Ethnicity Data

In [12]:
url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/package_show"
params = { "id": "6e19a90f-971c-46b3-852c-0c48c436d1fc"}
package = requests.get(url, params = params).json()
print(package["result"])

{'license_title': 'Open Government Licence – Toronto', 'owner_unit': None, 'relationships_as_object': [], 'topics': 'City government,Community services,Locations and mapping', 'owner_email': 'opendata@toronto.ca', 'excerpt': 'The Neighbourhood Profiles provide a portrait of the demographic, social and economic characteristics of the people and households in each City of Toronto neighbourhood. The data is based on tabulations of 2016 Census of Population data from Statistics Canada.', 'private': False, 'owner_division': 'Social Development, Finance & Administration', 'num_tags': 15, 'id': '6e19a90f-971c-46b3-852c-0c48c436d1fc', 'metadata_created': '2019-07-23T17:47:12.629378', 'refresh_rate': 'As available', 'title': 'Neighbourhood Profiles', 'license_url': 'https://open.toronto.ca/open-data-license/', 'state': 'active', 'information_url': 'https://www.toronto.ca/city-government/data-research-maps/neighbourhoods-communities/', 'license_id': 'open-government-licence-toronto', 'type': 'dataset', 'resources': [{'cache_last_updated': None, 'package_id': '6e19a90f-971c-46b3-852c-0c48c436d1fc', 'datastore_active': True, 'id': 'ef0239b1-832b-4d0b-a1f3-4153e53b189e', 'size': None, 'format': 'CSV', 'state': 'active', 'hash': '', 'description': '', 'is_preview': True, 'last_modified': None, 'url_type': 'datastore', 'mimetype': None, 'cache_url': None, 'extract_job': None, 'name': 'neighbourhood-profiles-2016-csv', 'created': '2019-07-23T17:47:16.475093', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/datastore/dump/ef0239b1-832b-4d0b-a1f3-4153e53b189e', 'mimetype_inner': None, 'position': 0, 'revision_id': '4c39060d-8bb2-49f7-9f4a-d84c0954cf31', 'resource_type': None}, {'cache_last_updated': None, 'package_id': '6e19a90f-971c-46b3-852c-0c48c436d1fc', 'datastore_active': True, 'id': 'bae6a4f1-09f2-44c6-8567-8ee28603c5cf', 'size': None, 'format': 'CSV', 'state': 'active', 'hash': '', 'description': '', 'is_preview': False, 'last_modified': None, 'url_type': 'datastore', 'mimetype': None, 'cache_url': None, 'extract_job': None, 'name': 'neighbourhood-profiles-2016-readme', 'created': '2019-07-23T17:47:31.000868', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/datastore/dump/bae6a4f1-09f2-44c6-8567-8ee28603c5cf', 'mimetype_inner': None, 'position': 1, 'revision_id': '4c39060d-8bb2-49f7-9f4a-d84c0954cf31', 'resource_type': None}, {'cache_last_updated': None, 'package_id': '6e19a90f-971c-46b3-852c-0c48c436d1fc', 'datastore_active': False, 'id': 'd8d3535e-8b89-4740-9031-5549815e08bc', 'size': 2431193, 'format': 'XLSX', 'state': 'active', 'hash': '', 'description': '', 'is_preview': False, 'last_modified': '2019-10-07T18:50:50.435597', 'url_type': 'upload', 'mimetype': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'cache_url': None, 'extract_job': None, 'name': 'Neighbourhood Data 2001, 2006, 2011.xlsx', 'created': '2019-10-07T18:50:50.533867', 'url': 'https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/6e19a90f-971c-46b3-852c-0c48c436d1fc/resource/d8d3535e-8b89-4740-9031-5549815e08bc/download/neighbourhood-data-2001-2011.xlsx', 'mimetype_inner': None, 'position': 2, 'revision_id': '4c39060d-8bb2-49f7-9f4a-d84c0954cf31', 'resource_type': None}], 'limitations': None, 'num_resources': 3, 'collection_method': None, 'tags': [{'vocabulary_id': None, 'state': 'active', 'display_name': 'census', 'id': '4e1037c3-82ce-448f-9b70-8a44b6375d15', 'name': 'census'}, {'vocabulary_id': None, 'state': 'active', 'display_name': 'community', 'id': '115e3ac5-cb67-482d-817b-5e9a594bea4e', 'name': 'community'}, {'vocabulary_id': None, 'state': 'active', 'display_name': 'demographic', 'id': 'f60318f4-53f7-44bd-a10d-4cecede9acb9', 'name': 'demographic'}, {'vocabulary_id': None, 'state': 'active', 'display_name': 'neighbourhood', 'id': '5cea3a74-4403-4fb7-aba7-eaf95080057e', 'name': 'neighbourhood'}], 'is_retired': False, 'groups': [], 'creator_user_id': '150d5301-86ec-44a3-a070-50f2cea839c9', 'dataset_category': 'Document', 'relationships_as_subject': [], 'name': 'neighbourhood-profiles', 'metadata_modified': '2019-12-05T16:43:46.724414', 'isopen': False, 'url': None, 'notes': '\n\n \n\nThe Census of Population is held across Canada every 5 years and collects data about age and sex, families and households, language, immigration and internal migration, ethnocultural diversity, Aboriginal peoples, housing, education, income, and labour.  City of Toronto Neighbourhood Profiles use this Census data to provide a portrait of the demographic, social and economic characteristics of the people and households in each City of Toronto neighbourhood. The profiles present selected highlights from the data, but these accompanying data files provide the full data set assembled for each neighbourhood.\n\n \n\nFor more information, visit the [Neighbourhood Profiles webpage.](https://www.toronto.ca/city-government/data-research-maps/neighbourhoods-communities/neighbourhood-profiles/)\n\n \n\nIn these profiles, "neighbourhood" refers to the City of Toronto\'s 140 social planning neighbourhoods. These social planning neighbourhoods were developed by the City of Toronto to help government and community organizations with local planning by providing socio-economic data at a meaningful geographic area. The boundaries of these social planning neighbourhoods are consistent over time, allowing for comparison between Census years. Neighbourhood level data from a variety of other sources are also available through the City\'s Wellbeing Toronto mapping application and here on the Open Data portal.\n\n \n\nEach data point in this file is presented for the City\'s 140 neighbourhoods, as well as for the City of Toronto as a whole. The data is sourced from a number of Census tables released by Statistics Canada. The general Census Profile is the main source table for this data, but other Census tables have also been used to provide additional information.\n\n \n\nFor definitions of terms and concepts referenced in this data set, users should consult the reference materials produced by Statistics Canada for the 2016 Census, available online at: [http://www12.statcan.gc.ca/census-recensement/2016/ref/index-eng.cfm](http://www12.statcan.gc.ca/census-recensement/2016/ref/index-eng.cfm).\n\n \n\nPLEASE NOTE: Statistics Canada does not release data at the level of Toronto\'s social planning neighbourhoods. Neighbourhood level data for 2016 are initially calculated by summing data for the Census Tracts which comprise each neighbourhood. Statistics Canada\'s random rounding reporting practices may have a compounded effect on the totals. These figures should be interpreted with caution where there are relatively few observations, such as for 5 year age groups by sex, or language groups with a small number of speakers. Certain values such as median values (and in some cases percentages and means) cannot yet be calculated at the neighbourhood level from available data. Where possible, these data will be updated when custom data at the neighbourhood level has been acquired from Statistics Canada.\n', 'owner_org': '95a064ae-77e8-4ef0-a4e3-4e2d43e1f066', 'last_refreshed': '2019-10-07T18:50:50.435597', 'image_url': None, 'formats': 'XLSX,CSV,JSON,XML', 'owner_section': None, 'organization': {'description': '', 'created': '2019-07-23T15:51:35.236542', 'title': 'City of Toronto', 'name': 'city-of-toronto', 'is_organization': True, 'state': 'active', 'image_url': '', 'revision_id': '62817a72-3dc5-450a-8cc4-fef2c51660da', 'type': 'organization', 'id': '95a064ae-77e8-4ef0-a4e3-4e2d43e1f066', 'approval_status': 'approved'}, 'revision_id': '4c39060d-8bb2-49f7-9f4a-d84c0954cf31', 'civic_issues': 'Affordable housing,Poverty reduction,Mobility,Climate change'}

In [13]:
# Final Solution
offset = 0
total_record = 0
combined_dataframes = []

for resource in (package["result"]["resources"]):
    if resource["datastore_active"]:
        url = f'https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/datastore_search?id={resource["id"]}&offset=0'
        while True:
            data = requests.get(url).json()
            next_page = data['result']['_links']['next']
            records = data['result']['records']
            if next_page and records:
                dataframe = pd.DataFrame(records)
                combined_dataframes.append(dataframe)
                url = f'https://ckan0.cf.opendata.inter.prod-toronto.ca{next_page}'
            else:
                break
    break

result = pd.concat(combined_dataframes).sort_index()

### Transform Ethnicity Data

In [14]:
# Put filters on Category and Topic to get Ethnic population in Toronto neighbourhoods
ethnicity_df = result.loc[((result["Category"] == "Ethnic origin") & (result["Topic"] == "Ethnic origin population"))]

In [25]:
characteristic_df = ethnicity_df.loc[((ethnicity_df["Characteristic"] == " North American Aboriginal origins") |\
                                      (ethnicity_df["Characteristic"] == " Other North American origins") |\
                                      (ethnicity_df["Characteristic"] == " European origins") |\
                                      (ethnicity_df["Characteristic"] == " Caribbean origins") |\
                                      (ethnicity_df["Characteristic"] == " Latin; Central and South American origins") |\
                                      (ethnicity_df["Characteristic"] == " African origins") |\
                                      (ethnicity_df["Characteristic"] == " Asian origins") | \
                                      (ethnicity_df["Characteristic"] == " Oceania origins"))]
characteristic_df

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
19,1620,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,Oceania origins,"5,790",10,0,0,140,...,0,25,80,75,20,90,50,80,20,10
50,1551,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,Asian origins,"1,079,290","24,305","17,955","2,055","6,485",...,"9,770","4,810","32,850","2,535","1,735","2,500","2,895","2,330","12,550","4,090"
50,1351,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,North American Aboriginal origins,"35,630",40,105,305,475,...,105,130,605,425,270,335,140,215,220,105
54,1355,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,Other North American origins,"345,710","1,345","1,190","2,355","5,255",...,"1,330","2,190","5,385","3,340","1,590","2,010","2,695","2,525","2,045","1,040"
58,1459,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,Latin; Central and South American origins,"113,820",470,480,315,765,...,340,"1,150","1,745",330,245,645,370,300,"2,055","1,025"
65,1366,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,European origins,"1,288,850","3,055","3,770","9,135","21,055",...,"6,625","13,460","12,855","8,855","5,275","9,685","8,455","9,460","8,735","7,820"
83,1484,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,African origins,"146,875",535,625,215,"1,040",...,280,"1,910","2,470",530,245,610,310,370,"2,450",820
99,1400,Ethnic origin,Ethnic origin population,Census Profile 98-316-X2016001,Caribbean origins,"165,735","1,445","1,395",350,750,...,215,"1,415","4,665",585,460,740,280,295,"3,345",935

In [28]:
for col in characteristic_df.columns:
    if col == '_id' or col == 'Category' or col == 'Topic' or col == 'Data Source':
        del characteristic_df[col]

In [32]:
#characteristic_df = characteristic_df.reset_index()
characteristic_df

,level_0,index,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,0,19,Oceania origins,"5,790",10,0,0,140,20,0,...,0,25,80,75,20,90,50,80,20,10
1,1,50,Asian origins,"1,079,290","24,305","17,955","2,055","6,485","12,025","5,190",...,"9,770","4,810","32,850","2,535","1,735","2,500","2,895","2,330","12,550","4,090"
2,2,50,North American Aboriginal origins,"35,630",40,105,305,475,230,90,...,105,130,605,425,270,335,140,215,220,105
3,3,54,Other North American origins,"345,710","1,345","1,190","2,355","5,255","3,230","1,630",...,"1,330","2,190","5,385","3,340","1,590","2,010","2,695","2,525","2,045","1,040"
4,4,58,Latin; Central and South American origins,"113,820",470,480,315,765,585,670,...,340,"1,150","1,745",330,245,645,370,300,"2,055","1,025"
5,5,65,European origins,"1,288,850","3,055","3,770","9,135","21,055","13,435","9,370",...,"6,625","13,460","12,855","8,855","5,275","9,685","8,455","9,460","8,735","7,820"
6,6,83,African origins,"146,875",535,625,215,"1,040",990,600,...,280,"1,910","2,470",530,245,610,310,370,"2,450",820
7,7,99,Caribbean origins,"165,735","1,445","1,395",350,750,815,440,...,215,"1,415","4,665",585,460,740,280,295,"3,345",935

In [86]:

transposed_df = characteristic_df.loc[:,'Agincourt North':'Yorkdale-Glen Park']
ethnicity_transformed = transposed_df.transpose().reset_index()

ethnicity_transformed.columns =["neighbourhood_name","oceania_origins","asian_origins",\
                    "north_american_aboriginal_origins","other_north_american_origins",\
                    "latin_origins","european_origins","african_origins","caribbean_origins"]

#Merge data with neighbourhood data to expose neighbourhood_id in Ethnicity table
ethnicity = pd.merge(ethnicity_transformed, neighbourhood , on = 'neighbourhood_name', how = "inner")

#Set Index as Neighbourhood id
ethnicity_transformed = ethnicity.set_index('neighbourhood_id')

#Remove commas in each ethnicity column as it is an integer value
ethnicity_transformed['asian_origins'] = ethnicity_transformed['asian_origins'].str.replace("," , '')
ethnicity_transformed['north_american_aboriginal_origins'] = ethnicity_transformed['north_american_aboriginal_origins'].str.replace("," , '')
ethnicity_transformed['other_north_american_origins'] = ethnicity_transformed['other_north_american_origins'].str.replace("," , '')
ethnicity_transformed['latin_origins'] = ethnicity_transformed['latin_origins'].str.replace("," , '')
ethnicity_transformed['european_origins'] = ethnicity_transformed['european_origins'].str.replace("," , '')
ethnicity_transformed['african_origins'] = ethnicity_transformed['african_origins'].str.replace("," , '')
ethnicity_transformed['caribbean_origins'] = ethnicity_transformed['caribbean_origins'].str.replace("," , '')

### Final Ethnicity Transformed table

In [87]:
ethnicity_transformed

,neighbourhood_name,oceania_origins,asian_origins,north_american_aboriginal_origins,other_north_american_origins,latin_origins,european_origins,african_origins,caribbean_origins
neighbourhood_id,,,,,,,,,
129,Agincourt North,10,24305,40,1345,470,3055,535,1445
128,Agincourt South-Malvern West,0,17955,105,1190,480,3770,625,1395
20,Alderwood,0,2055,305,2355,315,9135,215,350
95,Annex,140,6485,475,5255,765,21055,1040,750
42,Banbury-Don Mills,20,12025,230,3230,585,13435,990,815
...,...,...,...,...,...,...,...,...,...
94,Wychwood,90,2500,335,2010,645,9685,610,740
100,Yonge-Eglinton,50,2895,140,2695,370,8455,310,280
97,Yonge-St.Clair,80,2330,215,2525,300,9460,370,295
27,York University Heights,20,12550,220,2045,2055,8735,2450,3345
31,Yorkdale-Glen Park,10,4090,105,1040,1025,7820,820,935

### Extract Neighbourhood Restaurant Data

In [90]:
# read resources
restaurant_data = pd.read_csv("Resources/Restaurant_Data.csv")

# convert to dataframe
restaurant_df = pd.DataFrame(restaurant_data)
restaurant_df.head()

,Category,Restaurant Address,Restaurant Name,Restaurant Phone,Restaurant Price Range,Restaurant Website,Restaurant Yelp URL,Restaurant Latitude,Restaurant Longitude
0,Afghan,"14 Prince Arthur Avenue\r\nToronto, ON M5R 1A9",The Host,(416) 962-4678,$11-30,welcometohost.com,https://www.yelp.ca/adredir?ad_business_id=OFA...,43.669935,-79.395858
1,Afghan,"259 Wellington St W\r\nToronto, ON M5V",Aanch Modernist Indian Cuisine,(647) 558-1508,$11-30,aanch.ca,https://www.yelp.ca/adredir?ad_business_id=SZu...,43.644708,-79.390670
2,Afghan,"736 Bay Street\r\nToronto, ON M5G 2J8",Silk Road Kabob House,NaN,Under $10,NaN,https://www.yelp.ca/biz/silk-road-kabob-house-...,43.659816,-79.385591
3,Afghan,"691 Yonge Street\r\nToronto, ON M4Y 2B2",Naan & Kabob,(416) 972-6623,$11-30,naanandkabob.ca,https://www.yelp.ca/biz/naan-and-kabob-toronto-5,43.669058,-79.386100
4,Afghan,"66 Overlea Boulevard\r\nUnit 62\r\nToronto, ON...",Afghan Cuisine,(416) 422-5858,$11-30,afghancuisinerestaurant.com,https://www.yelp.ca/biz/afghan-cuisine-toronto,43.708070,-79.341508

In [91]:
#view restaurant df
restaurant_df['Restaurant Name'].count()

15821

In [92]:
# Remove unwanted columns in restaurant df
cleaned_restaurant_df = restaurant_df[["Category", "Restaurant Name", "Restaurant Price Range", "Restaurant Latitude", "Restaurant Longitude"]].dropna()
cleaned_restaurant_df.reset_index(inplace=True)
cleaned_restaurant_df.drop('index', axis='columns', inplace=True)
cleaned_restaurant_df.head()

,Category,Restaurant Name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude
0,Afghan,The Host,$11-30,43.669935,-79.395858
1,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670
2,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591
3,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100
4,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508

In [2]:
#filepath = os.path.join("Resources", "data.csv")
#data = pd.read_csv(filepath)
#nb = os.path.join('Resources', 'Neighbourhoods', "Neighbourhoods.shp")
#regions = gpd.read_file(nb)
#regions['neighbourhood'] = regions['FIELD_7'].str.replace(' \(.+\)', '').str.lower()

#('Resources/regions.csv')
#regions.head()

In [ ]:
clean_data/yelp_rating.csv

In [ ]:
# Add new columns, 'neighbourhood_id' and 'neighbourhood_name'
cleaned_restaurant_df['neighbourhood_id'] = 'NaN'
cleaned_restaurant_df['neighbourhood_name'] = 'NaN'

# Assign each restaurant to corresponded neighbourhood polygon using GeoPandas & neighbourhood geometry
for i in range(len(cleaned_restaurant_df)):
    
    lng = cleaned_restaurant_df.loc[i, 'Restaurant Longitude']
    lat = cleaned_restaurant_df.loc[i, 'Restaurant Latitude']
    point = Point(lng, lat)
    
    for j in np.arange(len(regions)):
        poly = regions.loc[j, 'geometry']
        
        if point.within(poly):
            cleaned_restaurant_df.loc[i, 'neighbourhood_id'] = regions.loc[j, 'FIELD_6']
            cleaned_restaurant_df.loc[i, 'neighbourhood_name'] = regions.loc[j, 'neighbourhood']

# Remove the restaurants which were not assigned to any Toronto neighbourhood polygon
cleaned_restaurant_df = cleaned_restaurant_df[cleaned_restaurant_df['neighbourhood_id'] != 'NaN']
cleaned_restaurant_df.head()

#### Create database connection

In [19]:
# Establish Connection to neighborhood database
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/Neighborhoods_DB')
conn = engine.connect()

In [20]:
# Confirm tables
engine.table_names()

['restaurant',
 'neighbourhood_restaurant',
 'yelp_ratings',
 'income',
 'crime',
 'ethnicity',
 'neighbourhood']

#### Load DataFrames into database

In [88]:
neighbourhood_transformed.to_sql(name='neighbourhood', con=engine, if_exists='append', index=True)

In [22]:
income_transformed.to_sql(name='income', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_income"
DETAIL:  Key (neighbourhood_id)=(1) already exists.

[SQL: INSERT INTO income (neighbourhood_id, neighbourhood_name, median_income, average_income) VALUES (%(neighbourhood_id)s, %(neighbourhood_name)s, %(median_income)s, %(average_income)s)]
[parameters: ({'neighbourhood_id': 1, 'neighbourhood_name': 'West Humber-Clairville', 'median_income': 66241.0, 'average_income': 76228.0}, {'neighbourhood_id': 2, 'neighbourhood_name': 'Mount Olive-Silverstone-Jamestown', 'median_income': 49934.0, 'average_income': 58605.0}, {'neighbourhood_id': 3, 'neighbourhood_name': 'Thistletown-Beaumond Heights', 'median_income': 62042.0, 'average_income': 73512.0}, {'neighbourhood_id': 4, 'neighbourhood_name': 'Rexdale-Kipling', 'median_income': 56545.0, 'average_income': 66781.0}, {'neighbourhood_id': 5, 'neighbourhood_name': 'Elms-Old Rexdale', 'median_income': 50846.0, 'average_income': 63201.0}, {'neighbourhood_id': 6, 'neighbourhood_name': 'Kingsview Village-The Westway', 'median_income': 55454.0, 'average_income': 71539.0}, {'neighbourhood_id': 7, 'neighbourhood_name': 'Willowridge-Martingrove-Richview', 'median_income': 63701.0, 'average_income': 81035.0}, {'neighbourhood_id': 8, 'neighbourhood_name': 'Humber Heights-Westmount', 'median_income': 60410.0, 'average_income': 81291.0}  ... displaying 10 of 140 total bound parameter sets ...  {'neighbourhood_id': 139, 'neighbourhood_name': 'Scarborough Village', 'median_income': 42131.0, 'average_income': 62141.0}, {'neighbourhood_id': 140, 'neighbourhood_name': 'Guildwood', 'median_income': 76055.0, 'average_income': 96885.0})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
crime_transformed.to_sql(name='crime', con=engine, if_exists='append', index=True)

In [89]:
ethnicity_transformed.to_sql(name='ethnicity', con=engine, if_exists='append', index=True)