In [1]:
#pip install yelpapi

In [2]:
from yelpapi import YelpAPI
from pprint import pprint
import pandas as pd
import numpy as np

In [3]:
yelp_api = YelpAPI('o2kVySxuJlQHYpsXVpPZPqV_VpfD1eACBU9JURPwZlbLiKOI3xWLEevsCB7Sq09OPUdxGumOHYE5ib0dkzR-X4Uvs3w0Cp1bJD3SEaCa0X307SNFXfiPW5hyQA3VX3Yx')

In [4]:
# test
response = yelp_api.search_query(location='toronto', limit=1, offset=1)
pprint(response['businesses'])

[{'alias': 'seven-lives-tacos-y-mariscos-toronto',
  'categories': [{'alias': 'mexican', 'title': 'Mexican'}],
  'coordinates': {'latitude': 43.6543411559068, 'longitude': -79.4004796072841},
  'display_phone': '+1 416-393-4636',
  'distance': 2236.76924282367,
  'id': 'iGEvDk6hsizigmXhDKs2Vg',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/4vmIs9jTNYlK24wb2WrQLg/o.jpg',
  'is_closed': False,
  'location': {'address1': '72 Kensington Avenue',
               'address2': '',
               'address3': '',
               'city': 'Toronto',
               'country': 'CA',
               'display_address': ['72 Kensington Avenue',
                                   'Toronto, ON M5T 2K1',
                                   'Canada'],
               'state': 'ON',
               'zip_code': 'M5T 2K1'},
  'name': 'Seven Lives Tacos y Mariscos',
  'phone': '+14163934636',
  'price': '$',
  'rating': 4.5,
  'review_count': 1323,
  'transactions': [],
  'url': 'https://www.yelp.com/biz/seven-lives-tacos-y-mariscos-toronto?adjust_creative=vliv81ZvKT_Oiqq8qtAerA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=vliv81ZvKT_Oiqq8qtAerA'}]

In [5]:
pprint(response['businesses'][0]['name'])

'Seven Lives Tacos y Mariscos'

In [6]:
offset = 1
limit = 49
total_num_queries = 20
names = []
ratings = []
review_counts = []

for i in range(total_num_queries-1):
    
    response = yelp_api.search_query(location='toronto', sort_by='rating', limit=limit, offset=offset)
    
    for business in range(len(response['businesses'])):
        names.append(response['businesses'][business]['name'])
        ratings.append(response['businesses'][business]['rating'])
        review_counts.append(response['businesses'][business]['review_count'])
        
    offset = offset + limit

In [7]:
# Check if all the lists has the same number of items
print(len(names), len(ratings), len(review_counts))

912 912 912

In [8]:
rating_df = pd.DataFrame({
                'name' : names,
                'ratings' : ratings,
                'review_counts' : review_counts
})

In [9]:
rating_df

                                 name  ratings  review_counts
0                            Muncheez      4.5            432
1                        Zeal Burgers      5.0            117
2    New Orleans Seafood & Steakhouse      4.5            136
3                                Yasu      4.5            364
4                   Fahrenheit Coffee      4.5            314
..                                ...      ...            ...
907                     Tsaa Tea Shop      4.0             60
908  Scaddabush Italian Kitchen & Bar      3.5            461
909                  Ho Sushi Express      4.0             67
910             Saffron Spice Kitchen      4.0            123
911                        Sushi Bong      4.0            151

[912 rows x 3 columns]

In [10]:
rating_df[rating_df.duplicated(subset='name')]

                                        name  ratings  review_counts
69                                   Katsuya      4.5            367
78                           Ed's Real Scoop      4.5            107
92                         Fahrenheit Coffee      5.0             33
163                             Banh Mi Boys      4.0            486
170                      Soma Chocolatemaker      4.5            127
255                             Banh Mi Boys      4.5            111
258                         Daan Go Cake Lab      4.5             88
260                                  Katsuya      4.0            152
296                     Rooster Coffee House      4.5            100
314                           Jimmy's Coffee      4.0            147
361                           Sansotei Ramen      4.5             83
389                       Forget Me Not Cafe      4.0            104
406                             Ramen Isshin      4.5             46
416                 Buk Chang Dong Soon Tofu      4.0            354
419                           Jimmy's Coffee      4.0            154
433                 The Keg Steakhouse + Bar      4.0            146
443                          Ed's Real Scoop      4.5             44
472                    Gyu-Kaku Japanese BBQ      4.0             82
495                     Rooster Coffee House      4.0             70
502                             Burrito Boyz      4.0             78
505                           Sansotei Ramen      4.0            128
525                      Allan's Pastry Shop      4.5             45
537                 The Keg Steakhouse + Bar      4.0            145
555                                  Jatujak      4.0            142
578                                  Tsujiri      4.0            567
584                               Rolltation      4.0            212
647                 The Keg Steakhouse + Bar      4.0             72
649                              Blaze Pizza      4.5             38
658              Fuwa Fuwa Japanese Pancakes      4.0            140
665                         Bodega Henriette      4.5             33
668                 The Keg Steakhouse + Bar      4.0            124
707                               Ravi Soups      4.0             72
720                            Bamiyan Kabob      4.0             84
799                      The Burger's Priest      3.5            448
808                        Pizzeria Libretto      3.5            309
810                              Genji Sushi      4.5             31
831  BATL - The Backyard Axe Throwing League      4.5             19
849                              Mr.Tonkatsu      4.0             71
855                        Pizzeria Libretto      4.0            110
874                                Basil Box      4.0            175
894                                La Cubana      4.5             44
898                         Bobbette & Belle      4.0             88
911                               Sushi Bong      4.0            151

In [15]:
rating_df[rating_df['name'].duplicated() == True].count()

name             43
ratings          43
review_counts    43
dtype: int64