In [1]:
import pandas as pd

In [2]:
restaurant = pd.read_csv('../clean_data/restaurant.csv')
restaurant = restaurant.rename(columns={'Restaurant Name':'name'})

In [3]:
yelp = pd.read_csv('../clean_data/yelp_rating.csv')

In [4]:
clean_restaurant= restaurant.drop_duplicates(subset=['name'], keep='first')
clean_restaurant

,restaurant_id,Category,name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude,neighbourhood_id,neighbourhood_name
0,1,Afghan,The Host,$11-30,43.669935,-79.395858,95,annex
1,2,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670,77,waterfront communities-the island
2,3,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591,76,bay street corridor
3,4,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100,75,church-yonge corridor
4,5,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508,55,thorncliffe park
...,...,...,...,...,...,...,...,...
5134,5135,Waffles,Wafflian - Belgian Waffle and Cupcake Bar,$11-30,43.653743,-79.391033,78,kensington-chinatown
5136,5137,Waffles,Wafel Bar,Under $10,43.650571,-79.384568,76,bay street corridor
5137,5138,Waffles,Dazzling Cafe,$11-30,43.761612,-79.409221,51,willowdale east
5138,5139,Waffles,Chinese Egg Waffle Vendor,Under $10,43.652586,-79.398445,78,kensington-chinatown
5139,5140,Waffles,TeaGather,Under $10,43.664507,-79.414575,95,annex

In [5]:
clean_yelp = yelp.drop_duplicates(subset=['name'], keep='first')
clean_yelp

,restaurant_id,name,category,ratings,review_counts,zip_code
0,e41TP5cXZqSrz50xCBJqZw,Insomnia Restaurant & Lounge,Lounges,4.0,923,M5S 1Y6
1,r_BrIgzYcwo1NAuG9dLbpg,Pai Northern Thai Kitchen,Thai,4.5,2895,M5H 3G8
2,Uq-GOs9_IqweUsB5MdII9w,Emma's Country Kitchen,Breakfast & Brunch,4.0,394,M6C 1B6
3,iGEvDk6hsizigmXhDKs2Vg,Seven Lives Tacos y Mariscos,Mexican,4.5,1323,M5T 2K1
4,-ICGmF2qUVKdvOehVNgPbg,Lamesa Filipino Kitchen,Filipino,4.0,352,M6C 1A9
...,...,...,...,...,...,...
4081,RNdcUG1sCTLdUo8dEC9NJw,The Local,Bars,3.5,58,M6R 2M9
4082,kbSSGo6zRPSdBT-CwG2cNg,Suvaiyakam Restaurant,Sri Lankan,4.5,11,M1W 3G5
4083,jyPsc5xUFpVOuuSylPkZdw,Dumplings & Szechuan Cuisine,Chinese,3.5,25,M1W 2H7
4084,OJfFKXx0AHk5VsL5VPvbdA,Delicious Shawarma and Falafel,Falafel,3.5,28,M1W 3G5
4085,lUIKCofKNVMluW0LAw1eEQ,Happy Tummy Filipino Cuisine,Filipino,3.5,21,M1W 3G5

In [6]:
combined_df = pd.merge(clean_restaurant, clean_yelp, on='name', how='inner')
combined_df

,restaurant_id_x,Category,name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude,neighbourhood_id,neighbourhood_name,restaurant_id_y,category,ratings,review_counts,zip_code
0,4,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100,75,church-yonge corridor,K3V9JWBZgIMtSICc4kBRUA,Afghan,4.0,109,M4Y 2B2
1,5,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508,55,thorncliffe park,VtQIAj8eXvHqc_8MtMMGwg,Afghan,4.0,46,M4H 1C4
2,7,Afghan,Bamiyan Kabob,$11-30,43.773829,-79.492068,27,york university heights,GdCRQU3VCh_x8fY84mbwYQ,Afghan,4.0,146,M4H 1C4
3,8,Afghan,Kandahar Kabab,$11-30,43.812544,-79.242368,132,malvern,Jcyu0ml7rxizEA8giSH-8A,Halal,3.5,116,M1B 2W3
4,9,Afghan,Afghan Kebob Cuisine,Under $10,43.716049,-79.555686,4,rexdale-kipling,ytYP2UXkRow2L3emGp469w,Afghan,3.5,14,M9W 3X2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528,5123,Vietnamese,Pho Mi Viet Hoa,Under $10,43.752480,-79.516377,25,glenfield-jane heights,wtJY0ujK8FUsnW-sJ1fKiQ,Vietnamese,4.0,50,M3N 2J8
1529,5127,Vietnamese,Pho Huong Trang,Under $10,43.745913,-79.487528,27,york university heights,VHxC8N23U4MwnbVrlIqOjw,Vietnamese,4.0,25,M3J 1L5
1530,5130,Vietnamese,Pho 88 Vietnamese Restaurant,Under $10,43.814417,-79.323702,116,steeles,5foBHyoMbLFanSck9Zp2PQ,Vietnamese,3.0,250,M1W 3Y1
1531,5131,Vietnamese,Pho Xe Lua,Under $10,43.808894,-79.269854,129,agincourt north,FjhxXDhiqUAkz2Bn8I6yRA,Vietnamese,3.5,25,M1V 1V2
1532,5134,Waffles,Golden Bubbles,Under $10,43.805200,-79.289643,130,milliken,F09jtEb9KEph2L7Pbji5QQ,Waffles,3.5,165,M1V 0C8