In [6]:
#import dependencies
import pandas as pd

In [7]:
#run previous files
%run Extract.ipynb

In [13]:
#view restaurant df
restaurant_df['Restaurant Name'].count()

15821

In [25]:
#transform restaurant df
cleaned_restaurant_df = restaurant_df[["Category", "Restaurant Name", "Restaurant Price Range", "Restaurant Latitude", "Restaurant Longitude"]].dropna()
cleaned_restaurant_df.head()

,Category,Restaurant Name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude
0,Afghan,The Host,$11-30,43.669935,-79.395858
1,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670
2,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591
3,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100
4,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508