In [1]:
#import dependencies
import pandas as pd

In [2]:
# import dependecies
import geopandas as gpd
import seaborn as sns
import os
import numpy as np
from shapely.geometry import Point, Polygon

In [3]:
#run previous files
%run Extract.ipynb

In [4]:
#view restaurant df
restaurant_df['Restaurant Name'].count()

15821

In [5]:
#transform restaurant df
cleaned_restaurant_df = restaurant_df[["Category", "Restaurant Name", "Restaurant Price Range", "Restaurant Latitude", "Restaurant Longitude"]].dropna()
cleaned_restaurant_df.head()

,Category,Restaurant Name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude
0,Afghan,The Host,$11-30,43.669935,-79.395858
1,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670
2,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591
3,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100
4,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508

In [6]:
cleaned_restaurant_df.reset_index(inplace=True)
cleaned_restaurant_df.drop('index', axis='columns', inplace=True)
cleaned_restaurant_df

,Category,Restaurant Name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude
0,Afghan,The Host,$11-30,43.669935,-79.395858
1,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670
2,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591
3,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100
4,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508
...,...,...,...,...,...
11533,Waffles,Red Bean Waffle House,Under $10,43.797877,-79.425598
11534,Waffles,Page One,$11-30,43.657853,-79.376254
11535,Waffles,Bread & Butter,Under $10,43.701638,-79.387440
11536,Waffles,Sugar Miracles,Under $10,43.716805,-79.400696
11537,Waffles,TeaGather,Under $10,43.664507,-79.414575

In [7]:
sns.set(style="darkgrid")

In [8]:
filepath = os.path.join("Resources", "data.csv")
data = pd.read_csv(filepath)
data.head()

                       neighbourhood
0  Waterfront Communities-The Island
1                   Newtonbrook East
2            York University Heights
3                        Dorset Park
4                Englemount-lawrence

In [9]:
nb = os.path.join('Resources', 'Neighbourhoods', "Neighbourhoods.shp")
regions = gpd.read_file(nb)
regions['neighbourhood'] = regions['FIELD_7'].str.replace(' \(.+\)', '').str.lower()
regions.head()

,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_7,FIELD_8,FIELD_9,FIELD_10,FIELD_11,FIELD_12,FIELD_13,FIELD_14,FIELD_15,geometry,neighbourhood
0,2101,25886861,25926662,49885,94,94,Wychwood (94),Wychwood (94),None,None,-79.425515,43.676919,16491505,3.217960e+06,7515.779658,"POLYGON ((-79.43592 43.68015, -79.43492 43.680...",wychwood
1,2102,25886820,25926663,49885,100,100,Yonge-Eglinton (100),Yonge-Eglinton (100),None,None,-79.403590,43.704689,16491521,3.160334e+06,7872.021074,"POLYGON ((-79.41096 43.70408, -79.40962 43.704...",yonge-eglinton
2,2103,25886834,25926664,49885,97,97,Yonge-St.Clair (97),Yonge-St.Clair (97),None,None,-79.397871,43.687859,16491537,2.222464e+06,8130.411276,"POLYGON ((-79.39119 43.68108, -79.39141 43.680...",yonge-st.clair
3,2104,25886593,25926665,49885,27,27,York University Heights (27),York University Heights (27),None,None,-79.488883,43.765736,16491553,2.541821e+07,25632.335242,"POLYGON ((-79.50529 43.75987, -79.50488 43.759...",york university heights
4,2105,25886688,25926666,49885,31,31,Yorkdale-Glen Park (31),Yorkdale-Glen Park (31),None,None,-79.457108,43.714672,16491569,1.156669e+07,13953.408098,"POLYGON ((-79.43969 43.70561, -79.44011 43.705...",yorkdale-glen park

In [10]:
regions.to_csv('Resources/regions.csv')

In [11]:
cleaned_restaurant_df['neighbourhood_id'] = 'NaN'
cleaned_restaurant_df['neighbourhood_name'] = 'NaN'

cleaned_restaurant_df.head()

,Category,Restaurant Name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude,neighbourhood_id,neighbourhood_name
0,Afghan,The Host,$11-30,43.669935,-79.395858,NaN,NaN
1,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670,NaN,NaN
2,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591,NaN,NaN
3,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100,NaN,NaN
4,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508,NaN,NaN

In [12]:
for i in range(len(cleaned_restaurant_df)):
    
    lng = cleaned_restaurant_df.loc[i, 'Restaurant Longitude']
    lat = cleaned_restaurant_df.loc[i, 'Restaurant Latitude']
    point = Point(lng, lat)
    
    for j in np.arange(len(regions)):
        poly = regions.loc[j, 'geometry']
        
        if point.within(poly):
            cleaned_restaurant_df.loc[i, 'neighbourhood_id'] = regions.loc[j, 'FIELD_6']
            cleaned_restaurant_df.loc[i, 'neighbourhood_name'] = regions.loc[j, 'neighbourhood']

In [14]:
cleaned_restaurant_df = cleaned_restaurant_df[cleaned_restaurant_df['neighbourhood_id'] != 'NaN']

### Final Transformed Table: restaurant
#### 1) cleaned_restaurant_df has duplicated values

In [15]:
# This df has duplicated values 
# (Some restaurants has multiple different categories or one restaurant has multiple locations)
cleaned_restaurant_df

,Category,Restaurant Name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude,neighbourhood_id,neighbourhood_name
0,Afghan,The Host,$11-30,43.669935,-79.395858,95,annex
1,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670,77,waterfront communities-the island
2,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591,76,bay street corridor
3,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100,75,church-yonge corridor
4,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508,55,thorncliffe park
...,...,...,...,...,...,...,...
11532,Waffles,Chinese Egg Waffle Vendor,Under $10,43.652586,-79.398445,78,kensington-chinatown
11534,Waffles,Page One,$11-30,43.657853,-79.376254,75,church-yonge corridor
11535,Waffles,Bread & Butter,Under $10,43.701638,-79.387440,99,mount pleasant east
11536,Waffles,Sugar Miracles,Under $10,43.716805,-79.400696,103,lawrence park south
11537,Waffles,TeaGather,Under $10,43.664507,-79.414575,95,annex

#### 2) restaurant_df: droped the same restaurants with multiple different categories.

In [16]:
restaurant_df = cleaned_restaurant_df.drop_duplicates(subset=['Restaurant Name', 'neighbourhood_id'], keep='first')
restaurant_df

,Category,Restaurant Name,Restaurant Price Range,Restaurant Latitude,Restaurant Longitude,neighbourhood_id,neighbourhood_name
0,Afghan,The Host,$11-30,43.669935,-79.395858,95,annex
1,Afghan,Aanch Modernist Indian Cuisine,$11-30,43.644708,-79.390670,77,waterfront communities-the island
2,Afghan,Silk Road Kabob House,Under $10,43.659816,-79.385591,76,bay street corridor
3,Afghan,Naan & Kabob,$11-30,43.669058,-79.386100,75,church-yonge corridor
4,Afghan,Afghan Cuisine,$11-30,43.708070,-79.341508,55,thorncliffe park
...,...,...,...,...,...,...,...
11528,Waffles,Starving Artist,$11-30,43.701535,-79.387209,99,mount pleasant east
11530,Waffles,Wafel Bar,Under $10,43.650571,-79.384568,76,bay street corridor
11531,Waffles,Dazzling Cafe,$11-30,43.761612,-79.409221,51,willowdale east
11532,Waffles,Chinese Egg Waffle Vendor,Under $10,43.652586,-79.398445,78,kensington-chinatown
11537,Waffles,TeaGather,Under $10,43.664507,-79.414575,95,annex

### Final Transformed Table: neighbourhood_restaurant

In [17]:
# number of restaurants for each neighbourhood
neighbourhood_restaurant = restaurant_df.groupby(['neighbourhood_id','neighbourhood_name'])['Restaurant Name'].count()
neighbourhood_restaurant.sort_values(ascending=False, inplace=True)
neighbourhood_restaurant = neighbourhood_restaurant.reset_index()
neighbourhood_restaurant.set_index('neighbourhood_id', inplace=True)
neighbourhood_restaurant

                                 neighbourhood_name  Restaurant Name
neighbourhood_id
76                              bay street corridor              355
77                waterfront communities-the island              354
78                             kensington-chinatown              280
75                            church-yonge corridor              214
95                                            annex              180
...                                             ...              ...
112                         beechborough-greenbrook                2
8                          humber heights-westmount                2
13                              etobicoke west mall                2
140                                       guildwood                2
10                               princess-rosethorn                1

[137 rows x 2 columns]